.App {
  text-align: center;
}

@font-face {
  font-family: 'DidactGothic';
  src: local('DidactGothic-Regular'),
    url(./assets/DidactGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Kanit';
  src: local('Kanit-ExtraLight'),
    url(./assets/Kanit-ExtraLight.ttf) format('truetype');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: DidactGothic;
}
.search input {
  font-family: DidactGothic;
  font-size: 30px;
}

.search label {
  font-family: DidactGothic;
  font-size: 30px;
}

.card {
  font-family: Kanit;
}
